@model CoverType //pass the model to be used
@{
    ViewData["Title"] = "Delete Cover";
}
<form method="post" asp-action="DeletePOST">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="text-white">
			<h2>Delete Cover</h2>
			<hr />
		</div>

		@*<div asp-validation-summary="All"></div>*@

		<div class="mb-3">
			<label asp-for="Name" style="color: orange"></label>
			<input asp-for="Name" class="form-control" readonly/>
			
		</div>

		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="CoverType" asp-action="Index" class="btn btn-primary style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
